# Dependencies
node_modules/

# Build
dist/

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
*.swo

# Env
.env
.env.*
!.env.example

# Local
*.local
